.auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.auth1{
    border: none;
    background-color: grey;
    color: aliceblue;
    height: 50px;
    width: 200px;
    margin-top: -100px;
}

.auth1:hover{
    border: 1px solid grey;
    background-color: white;
    color: grey;
}

.tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.75rem;
    border-radius: 99px;
  }
  
  .tabs * {
    z-index: 2;
  }
  
  .container input[type="radio"] {
    display: none;
  }
  
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 50px;
    font-size: .8rem;
    color: black;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
  }
  
  .container input[type="radio"]:checked + label {
    color: #185ee0;
  }
  
  .container input[type="radio"]:checked + label > .notification {
    background-color: #185ee0;
    color: #fff;
    margin: 0px;
  }
  
  .container input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0);
  }
  
  .container input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%);
  }
  
  .glider {
    position: absolute;
    display: flex;
    height: 30px;
    width: 50px;
    background-color: #e6eef9;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
  }
  
  @media (max-width: 700px) {
   
    .tabs {
      transform: scale(0.6);
    }
  }