.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20vh;
}

.text {
    margin-left: 50px;
    margin-top: 160px; /* Approximately 10vh in pixels */
    font-size: 70px;
    font-family: 'poppins';
    line-height: 1.2;
    color: white;
    text-shadow: 0px 1px, 1px 0px, 1px 1px 0 black;
    letter-spacing: 1px;
    font-weight: bold;
}

.svg {
    margin-top: 80px;
    width: 360px;
    height: 360px;
}

p {
    margin-top: 5vh;
    font-family: 'poppins';
    font-size: 16px;
    color: gray;
    text-shadow: none; 
}
.gmaps{
    height: 200px;
    width: 100%;
    background-color: #1f2324;
    display: flex;
    justify-content: space-between;
    align-items: center;
   border-bottom-left-radius: 25px;
   border-bottom-right-radius: 25px;

    color: white;
    margin-bottom: 15vh;
    border-bottom:1px solid rgb(168, 167, 160);
    border-top:3px solid rgb(168, 167, 160);
    z-index: 1;
    overflow: hidden;
}
.explore{
    margin-right: 100px;
    padding-top: 10px;
    color:#d0b077;
    background-color: #fff;
    border: 2px solid white ;

}
.appointment{
    border: 2px solid rgb(168, 167, 160);
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 33.333%;
    
    
}
.explore:hover{
    background-color: #d0b077;
    color: #1f2324;
}
.wohoo{
    color: transparent;
    text-shadow: none;
    -webkit-text-stroke: #d0b077;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.7px;
}
.getstarted1:hover{
    color: #d0b077;
}

.getstarted1{
    background-color: #d0b077;
    color: white;
    margin: auto;
   border: none;
   height: 60px;
   width: 200px;
   border-radius: 5px;
}
.features1{
  

}