.container-map{
    display: flex;
    margin: auto;
    width: 800px;
    box-shadow: 5px 5px 17px #c8c8c8,
               -5px -5px 17px #ffffff;
    background-color: #e8e8e8;
    border-radius: 10px;
    margin-top: 40px;
}

.input {
    width: 800px;
    height: 50px;
    padding: 10px;
    outline: none;
    background: #e8e8e8;
    border: none;
}

.input-btn {
    color: gray;
    border: none;
    background-color: #e8e8e8;
    height: 50px;
    font-size: 20px;
}
