.getstarted{
    background-color: #042699;
    color: white;
    margin: auto;
   
}
.getstarted:hover{
    color: #042699;
}
.navbar-nav{
   margin-left: 25vw;
   
   
}
.nav-item{
    margin-right: 10vw;
}
.navbar-brand{
    margin: 0 0 0 5vw;
    font-size: 32px;
    font-weight: bolder;
}
.navbar{
    height: 15vh;
    font-family:'poppins', sans-serif;
    line-height: 24px;
}
