/* .card1 {
  width: 100px;
  height: 254px;
  border-radius: 10px;
  background: #e0e0e0;
  flex: 0 0 35%;
  box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
  margin: 40px 50px;
}

.p {
  margin: 30px 0 0 25px;
  color: #0808cde6;
  font-size: 20px;
} */
.seekgod{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 600px;
  background-image: url("https://img.freepik.com/free-photo/gavel-with-books-old-wooden-desk_93675-129543.jpg?w=900&t=st=1695768109~exp=1695768709~hmac=1e015c9f942d0307b66025382a73f3c058acea3aae94a96067be4936d90af4ed");
  background-position:center bottom 10% ;
  background-repeat: no-repeat;
  background-size: cover;
}
.seek-main-title {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  text-align: center;
}

.seek-text{

  margin-top: 500px;
}

.seek-assistance-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.75rem;
  background-color: white;
  width: 30%;
  height: 600px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1),
    0 2px 4px -2px rgba(0, 0, 0, .1);
}

.seek-header {
  position: relative;
  background-clip: border-box;
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.75rem;
  /* background-color: rgb(33 150 243); */
  /* background-image: url(../illustrations/law-bg-2.jpg);
  background-size: 130%;
  background-repeat: no-repeat; */
  box-shadow: 0 10px 15px -3px rgba(33, 150, 243, .4), 0 4px 6px -4px rgba(33, 150, 243, .4);
  height: 14rem;
}

.seek-header-img {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

.seek-info {
  border: none;
  padding: 0rem 1.5rem 0 1.5rem;
  text-align: center;
}

.seek-text {
  color: rgb(38 50 56);
  letter-spacing: 0;
  line-height: 1.375;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.seek-footer {
  padding: 0.75rem;
  border: 1px solid rgb(236 239 241);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 140, 255, 0.082);
  display: flex;
  justify-content: center;
  border-radius: 0.75rem;
}

.seek-tag {
  font-weight: 300;
  font-size: .75rem;
  display: block;
}

.seek-btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  box-shadow: 0 4px 6px -1px rgba(33, 150, 243, .4), 0 2px 4px -2px rgba(33, 150, 243, .4);
  color: rgb(255 255 255);
  /* text-transform: uppercase; */
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(33 150 243);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
}
.containseek{
  
  text-align: center;
  margin-top: 50px;
}
.blackbg{
  padding: 50px 0 50px 0;
  background-color: rgb(19, 18, 18);
}