body{
    cursor: url();
}
body::-webkit-scrollbar {
    width: 12px; 
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #042699; 
    border-radius: 6px;
  }
  body::-webkit-scrollbar-track {
    background-color: #e7f3fa;
  }
  
.container1{
  width: 60%;
  background: #FFF;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  margin: 10px auto 10px auto !important;
  min-height: 100vh;
}

.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #F3F3F3;
  border: none !important;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}